{
  "Resources": {
      "id": "33f563bc",
      "type": "restApi",
      "x": 380,
      "y": 102,
      "name": "Endpoint",
      "path": "/stackery-ui-2/pr",
      "domain": "build-trigger.stackery.io"
  }
}